@import "~normalize.css";

@import "_variables";
@import "modules/table.scss";
@import "modules/html.scss";
@import "modules/body.scss";
@import "modules/main.scss";
@import "modules/navigation.scss";
@import "modules/hamburger.scss";
@import "modules/section-intro.scss";





//SECTION

.section {
  &__header {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    padding-right: 16px;
    padding-left: 15px;
  }
}

.section__header::before{
  content: "";
  display: inline-block;
  width: 100%;
  height: 1.5px;
  background-color: darkblue;
}

//ARTICLE

.article {
  color: darkblue;
  padding: 16px 16px;
  &__header {
    font-family: Arial, Helvetica, sans-serif;
  }
  &__paragraph {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.article__header::before {
  content: "📚 ";
}

//FOOTER

.footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  box-sizing: border-box;
  &__paragraph {
    font-size: 12px;
  }
  &__link {
    color: white;
    text-decoration: none;
    font-size: 12px;
    &--return-up {
      font-size: small;
      color: black;
      background-color: white;
      padding: 10px 15px;
      display: inline-block;
      margin-top: 10px;
      font-family: "Courier New", Courier, monospace;
      font-size: 12px;
    }
  }
}



@media screen and (min-width: 720px) {
  .hamburger {
    display: none;
  }

  //NAVIGATION

  .navigation {
    display: flex;
    align-items: center;
    &__area {
      margin: 0px auto;
      padding: 0px;
      display: flex;
      justify-content: center;
    }
    &__link {
      padding-right: 5px;
      padding-left: 5px;
      color: white;
      font-family: "Courier New", Courier, monospace;
      text-decoration: none;
      border-right: 1px solid white;
      margin: 0px;
      &--last-one {
        border-right: none;
      }
    }
  }

  .navigation__link:hover {
    background-color: rgb(22, 175, 60);
  }

  .section-intro {
    width: 40%;
    margin: 0 auto;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    &__header {
      grid-area: 1 / 1 / 2 / 3;
    }
  }
}

