@import "~normalize.css";

//@import "_variables";
//@import "modules/hello.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  background-repeat: no-repeat;
  display: block;
}

.main {
  display: block;
  margin-top: 60px;
}

//NAVIGATION

.navigation {
  min-height: 60px;
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  background: black;
  &__area {
    background-color: black;
    padding: 16px;
    display: none;
  }
  &__link {
    display: block;
    margin-bottom: 16px;
    font-style: none;
    color: white;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
  }
}

//HAMBURGER

.navigation--open {
  display: block;
}

.hamburger {
  position: absolute;
  top: 11px;
  right: 7px;
  border: none;
  background: none;
  font-size: 32px;
}

//MAIN

.main {
  &__header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 16px;
    color: darkblue;
  }
}

//SECTION INTRO

.section-intro {
  padding: 16px 16px;
  color: darkblue;
  overflow: auto;
  &__paragraph {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__header {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    text-align: right;
  }
  &__image {
    float: left;
    padding-right: 16px;
  }
}

.section-intro__header::before{
  content: "";
  display: inline-block;
  width: 100%;
  height: 1.5px;
  background-color: darkblue;
}

//SECTION

.section {
  &__header {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.section__header::before{
  content: "";
  display: inline-block;
  width: 100%;
  height: 1.5px;
  background-color: darkblue;
}

//ARTICLE

.article {
  color: darkblue;
  padding: 16px 16px;
  &__header {
    font-family: Arial, Helvetica, sans-serif;
  }
  &__paragraph {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.article__header::before {
  content: "📚 ";
}

//FOOTER

.footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  box-sizing: border-box;
  &__paragraph {
    font-size: 12px;
  }
  &__link {
    color: white;
    text-decoration: none;
    font-size: 12px;
    &--return-up {
      font-size: small;
      color: black;
      background-color: white;
      padding: 10px 15px;
      display: inline-block;
      margin-top: 10px;
      font-family: "Courier New", Courier, monospace;
      font-size: 12px;
    }
  }
}

//TABLE
$borderStyle: 1px solid #a2a9b1; 
$headreBackground: #E5D8C0;

.debug-container{
  background: white;
  padding: 16px;
  display: flex;
  justify-content: center;
}

.table{
  border: $borderStyle;
  border-collapse: collapse;
  font-family: sans-serif;
  color: black;
  width: 250px;
  &__header{
    border: $borderStyle;
    background-color: $headreBackground;
    font-size: 14.28px;
    &--pl{
      display: block;
      padding: 4px;
    }
    &--en{
      display: block;
      font-weight: normal;
      font-style: italic;
      padding: 4px;
    }
  }
  &__cell-left{
    padding: 4px;
    font-size: 11.9px;
    background: #eeeeee;
    display: table-cell;display: table-cell;
    line-height: 1.6;
    vertical-align: top;
  }
  &__cell-right{
    padding: 4px;
    font-size: 11.9px;
    width: 50%;
    line-height: 1.6;
    vertical-align: top;
    &--red{
      color: #BA0000;
    }
    &--link{
      text-decoration: none;
      color: #0645ad;
      &:visited{
        color:#0b0080;
      }
    }   
  }
  &__subheader{
    border: $borderStyle;
    background-color: $headreBackground;
    padding: 4px;
    font-size: 11.9px;
    font-weight: bold;
    line-height: 1.6;
    text-align: center;
  }
}

@media screen and (min-width: 720px) {
  .hamburger {
    display: none;
  }

  //NAVIGATION

  .navigation {
    display: flex;
    align-items: center;
    &__area {
      margin: 0px auto;
      padding: 0px;
      display: flex;
      justify-content: center;
    }
    &__link {
      padding-right: 5px;
      padding-left: 5px;
      color: white;
      font-family: "Courier New", Courier, monospace;
      text-decoration: none;
      border-right: 1px solid white;
      margin: 0px;
      &--last-one {
        border-right: none;
      }
    }
  }

  .navigation__link:hover {
    background-color: rgb(22, 175, 60);
  }

  .section-intro {
    width: 40%;
    margin: 0 auto;
  }

  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    &__header {
      grid-area: 1 / 1 / 2 / 3;
    }
  }
}

